@charset "utf-8";

/* Form Style */

form#quiz>fieldset {
    background-color: aliceblue;
    border-radius: 20px;
    flex: 1 1 300px;
    font-size: 0.85em;
    padding: 10px;
    margin: 10px;
}

legend {
    background-color: lightslategray;
    padding: 10px;
    color: white;
}

/* Personal Infomartion */

fieldset#perInfo div.formRow {
    display: flex;
    flex-flow: row wrap;
    margin: 10px 0px;
}

fieldset#perInfo div.formRow>* {
    flex: 1 1 200px;
    vertical-align: middle;
}

/* Quiz Information */

fieldset#quizInfo div.formRow {
    display: inline-block;
}

div img {
    clear: both;
    float: right;
    width: 200px;
    padding-right: 50%;
}

div[class^="formRow"] {
    margin: 10px;
}

input {
    margin: 5px;
}

#quizInfo div.formRow:last-child>label {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

textarea {
    width: 40%;
}

/* Buttons */
div#buttons {
    text-align: center;
    width: 100%;
}

/* Validation */

input:focus, select:focus, textarea:focus {
    background-color: lightcyan;
}

input#name:focus:valid,
input#mail:focus:valid {
    background: lightcyan url(../images/rb_valid.png) bottom right/contain no-repeat;
}

input#name:focus:invalid,
input#mail:focus:invalid,
input#age:focus:invalid,
input#num1:focus:invalid {
    background: rgb(255, 232, 233) url(../images/rb_invalid.png) bottom right/contain no-repeat;
}