@charset "utf-8";

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: white;
    border: 3px solid rgb(51, 51, 51);
    min-height: 100%;
    margin: 20px auto;
    min-width: 768px;
    max-width: 900px;
    width: 100%;
    padding: 5px 50px 30px 50px;
}

header p {
    color: red;
    font-weight: 600;
    font-size: 14px;
}